* {
    margin: 0;
    padding: 0;
}

.steps-container {
    padding: 50px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checked {
    background-color: green;
}

.button-container{
    text-align: center;
}

button{
    margin: 10px;
}