<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter login details</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="./Form.js" type="module"></script>
</head>

<body>
    <form id="form-element">
        <div>Enter Details</div>
        <label htmlFor='mail-input'>EMAIL: </label>
        <input type="text" placeholder='enter email' id="email" />
        <div class="error" id="email-error"></div>

        <label htmlFor='password-input'>PASSWORD: </label>
        <input type="password" placeholder='enter password' id="password" />
        <div class="error" id="password-error"></div>
        <button type='submit'>SUBMIT</button>

        <div id="display-data"></div>
    </form>
</body>

</html>