<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="./DragDrop.js" defer></script>
    <title>Drag Drop</title>
</head>
<body>
    <div id="left">
        <div class="listItem item1" draggable="true">Item 1</div>
        <div class="listItem item2" draggable="true">Item 2</div>
        <div class="listItem item3" draggable="true">Item 3</div>
        <div class="listItem item4" draggable="true">Item 4</div>
    </div>
    <div id="right"></div>
</body>
</html>